@font-face {
    font-family: 'CooperHewitt';
    src: url('CooperHewitt-Semibold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'CooperHewitt';
    src: url('CooperHewitt-Book.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'CooperHewitt';
    src: url('CooperHewitt-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'CooperHewitt';
    src: url('CooperHewitt-Light.woff') format('woff');
    font-style: normal;
    font-weight: 100;
}


@font-face {
    font-family: 'Charter';
    src: url('charter_bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Charter';
    src: url('charter_bold_italic.woff') format('woff');
    font-style: italic;
    font-weight: 700;
}


@font-face {
    font-family: 'Charter';
    src: url('charter_italic.woff') format('woff');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'Charter';
    src: url('charter_regular.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'SourceCodePro';
    src: url('SourceCodePro-Regular.otf.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}



body {
    font-family: Charter, Georgia, serif;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
}

h1, h2, h3, h4, h5, h6 {
    font-family: CooperHewitt, sans-serif;
    font-weight: 700;
}

a.nav-link {
    font-family: CooperHewitt, sans-serif;
    font-weight: 300;
}

.post pre, .page pre {
    font-family: SourceCodePro, Monospace;
}

.info, {
    font-family: CooperHewitt, sans-serif;
    font-weight: 200;
}

.footer-span {
    font-family: CooperHewitt, sans-serif;
    font-weight: 100;
}
